@keyframes dance {
	0% {
		transform: rotate(10deg) translateX(10px);
	}
	100% {
		transform: rotate(-10deg) translateX(-10px);
	}
}

@keyframes ShowUp {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes ShowUp__ {
	0% {
		opacity: 0;
		
	}
	100% {
		
		opacity: 1;
	}
}

@keyframes ShowUp_ {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
		display: none;

	}
}

@keyframes ShowUp_2 {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}


@keyframes showError {
	0% {
		opacity: 0;
		top: -100px;
	}
	50% {

		opacity: .5;
		
	}
	100% {
		opacity: 1;	
	}
}

.hidingAnimation {
	transform: translateY(-400px);
	display: none;
	animation: showUp_ 1s ease !important;
	opacity: 0;
}

@keyframes ShowDown {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes HumbergerAnimation {
	0% {
		transform: scaleX(0);

	}
	100% {
		transform: scaleX(1);	
	}
}


@keyframes NavHide {
	0% {
		transform: scaleX(1);
		opacity: 1;
	}
	100% {
		transform: scaleX(0);
		opacity: 0;
	}
}

@keyframes NavShow {
	0% {
		transform: scaleX(0);
		opacity: 0;
	}
	100% {
		transform: scaleX(1);
		opacity: 1;
	}	
}

@keyframes revealright {
	0% {
		transform: translateX(10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}



@keyframes revealleft {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

/* Making classes to apply the animation dynamically using JS */

.revealLeft {
	animation: revealleft 1.5s ease;
	opacity: 1;
	display: block !important;
}

.revealRight {
	animation: revealright 1.5s ease;
	opacity: 1;
	display: block !important;
}

.revealLeft2 {
	animation: revealleft 1.5s ease;
	opacity: 1;
	display: flex !important;
}

.revealRight2 {
	animation: revealright 1.5s ease;
	opacity: 1;
	display: flex !important;
}

.revealBottom {
	animation: ShowDown 1.5s ease;
	display: block !important;
	opacity: 1;
}

.revealUp {
	animation: ShowUp 1s ease;
	transform: translateY(-10px);
	opacity: 1 !important;
	display: block !important;
}

/* form Loading animation */


@keyframes internal {
  0% {
    stroke-dashoffset: 187;
  }
  25% {
    stroke-dashoffset: 80;
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(360deg);
  }
}


.loader {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 5px;
        transform: rotate(-90deg);
        stroke-linecap: round;
        stroke-width: 4;
        fill: none;
        display: none;
}

.loader.active_animation {
        display: block;
}

.loader .external-circle {
        stroke: #fff;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke-dasharray: 187;
    animation: internal 1s ease-in-out infinite;
    opacity: 1;
}
