/* HERO SECTION.... */

.Home, .art {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.Hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 85px 0;
    width: 85%;

}


.Hero > img {
	height: 350px;
	animation: revealright 1s ease-in-out;
}

.Hero > div {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.Hero > div div.Buttons_, .Hero div div.sm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 30px 0;
}

.Hero div div.sm {
	padding: 0;
	height: 50px;
	margin: 20px 0;
}

.Hero div h1 {
	font-weight: 800;
    -webkit-text-stroke-width: 1px;
    font-size: 60px;
    margin: 0;
    line-height: 70px;
    -webkit-text-stroke-color: white;
    color: transparent;
    font-family: "Poppins";
    background: none;
    transition: all 1s ease-in;
    animation: ShowUp 1s ease-in-out;
}

.Hero div div.sm a img {
	width: 40px;
	animation: revealleft 1s ease;
}


.Hero div div.Buttons_ a,
.Hero div div.Buttons_ button {
	text-decoration: none;
	padding: 20px;
	animation: ShowUp 1s ease-in-out;
}

.Hero div div.Buttons_ button {
	border: none;
	outline: none;
}
.Hero div div.Buttons_ button:nth-child(1) {
	background: white;
	color: black;
	border: 1px solid white;
	font-weight: 600;
	font-size: 16px;
}

.Hero div div.Buttons_ a:nth-child(2) {
	background: rgb(0, 0, 50);
}

.Hero div div.Buttons_ a:nth-child(2),.Hero div div.sm a:nth-child(2) img {
	margin: 0 30px;
}

/* Hover effects */


.Hero div div.Buttons_ button:nth-child(1):hover {
	background: black;
	color:  white;
}
.Hero div div.Buttons_ a:nth-child(2):hover {
	background: rgb(0, 0, 100);
}

.Hero div div.sm a img:hover {
	transform: scale(1.1);
}

/* Media queries */

@media screen and (max-width: 900px){
	.Hero > img {  
		display: none; 
	}
	.Hero {
		justify-content: flex-start;
		width: 90%;
		padding: 10px;
	}
	.Hero div div.Buttons_ { 
		flex-direction: column;
		align-items: flex-start;
		/* margin: 10px 0; */
	}
	.Hero div div.Buttons_ a {
		margin: 10px 0 !important;
	}
	.Hero div h1 { 
		font-size: 50px;
	 }
}




.art .innerArt {
	display: grid;
	grid-gap: 40px;

	width: 85%;
	margin: 40px 0;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	/* margin: 10px auto; */
}



.art .innerArt img {
	border-radius: 10px;
} 

@media screen and (max-width: 900px){
	.art .innerArt {
		width: 90%;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
	}
}

@media screen and (max-width: 500px) {
	.Hero {
		margin: 40px 0;
	}
	.art .innerArt {
		width: 90%;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto;
	}
}

.Designs {
	width: 85%;
}
.Designs > img.kitty {
	width: 100%;
}



.Designs > div {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.Designs > div img {
	width: 100px;
	margin: 20px 0;
}

/* .Designs > div img {width: 20%} */