/* .NotFound {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
 */

.NotFound {
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 90px 0;

} 

.NotFound > img {
	width: 100px;
	margin: 10px;
	animation: dance 2s infinite;
}



.NotFound > h1 {
	margin: 30px 0;
	-webkit-text-stroke-width: 1px;
	font-size: 40px;
	-webkit-text-stroke-color: white;
	color: transparent;
	
}
