/* 
This file imports all the styling that the application needs.
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
@import './components/styles/Animations.css';
@import './components/styles/Nav.css';
@import './components/styles/Home.css';
@import './components/styles/Footer.css';
@import './components/styles/About.css';
@import './components/styles/Work.css';
@import './components/styles/Loader.css';
@import './components/styles/Footer.css';
@import './components/styles/Contactme.css';
@import './components/styles/pageNotFound.css';
@import './components/styles/WorkSections.css';

* {
	scroll-behavior: smooth;
    font-family: "Poppins", "Ubuntu", sans-serif;
	box-sizing: border-box;
	color: white;
}

.App {
	display: none;
}


.App.loaded {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	width: 100%;
}

body, #root {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	width: 100%;
}

nav, section {
	width: 100%;
}


a, h1, h2, p, div, nav, img, input, button {
	transition: all 1s ease;
}

a, button {
	cursor: pointer;
	border-radius:  5px;
}

.App {
	flex-direction: column;

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  background: none;
  transition: background-color 5000s ease 0s;
}
@media screen and (min-width: 1200px) {
	#root {
		width: 1000px;
	}
}